# ===== PYTHON =====

**pycache**/
*.pyc

# ===== VENV =====

venv/
venv_*/
ENV/
env/

# ===== VS CODE / IDE =====

.vscode/
.idea/

# ===== OS FILES =====

.DS_Store
Thumbs.db

# ===== LOG / OUTPUT =====

*.log

# ===== DATA & CACHE =====

data/images/
*.csv
*.xlsx
*.pkl

# ===== CONFIG PRIVATE =====

*.env
