# Virtual environment
venv_skincare/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Logs and temporary files
*.log
*.tmp
*.bak

# Packaging / distribution folders
build/
dist/
*.egg-info/
.eggs/

# OS-specific files
.DS_Store
Thumbs.db
